name: Build and Push to ECR

permissions:
  id-token: write   # нужно для OIDC → AWS STS
  # contents: read    # checkout

on:
  push:
    branches:
      - main

jobs:

  #quality:
    # runs-on: ubuntu-latest
    # steps:
    #   - uses: pablo-buenos-aires/workflow-actions/quality@main
    #     with:
    #       sonar-token: ${{ secrets.SONAR_TOKEN }}
    #       go-version: "1.22"

    

  deploy: 
    runs-on: ubuntu-latest
    #needs: [quality]   # <-- ДЕПЛОЙ ТОЛЬКО ПОСЛЕ QUALITY
    env:
        ECR_REPO: ${{ vars.ECR_REPO }}  
        IMAGE_TAG: v${{ github.run_number }}
        APP_PORT: ${{ vars.APP_PORT }}

        TASK_DEFINITION: task-definition.json         # Путь к файvлу после скачивания
        CONTAINER_NAME: backend-container             # = var.container_name
        ECS_CLUSTER: backend-cluster                  # = var.ecs_cluster_name
        ECS_SERVICE: ecs-service                      # = var.ecs_service_name

    steps:
    - uses: actions/checkout@v4
  # скачиваем с приваиного репозитория файл с определением задачи ECS,
  # качаем  после скачивания кода, чтобы не перезаписали 
    - uses: pablo-buenos-aires/workflow-actions/download-taskdef@main
      with:
        github-token: ${{ secrets.WORKFLOWS_REPO_PAT }}
        taskdef-url: https://api.github.com/repos/pablo-buenos-aires/workflows/contents/.github/workflows/backend/ecs/task-definition.json
  #      output: ${{ env.TASK_DEFINITION }}

    # - name: Download  task definition from pr ivate repo
    #   run: |
    #     curl -H "Authorization: token ${{ secrets.WORKFLOWS_REPO_PAT }}" \
    #           -H "Accept: application/vnd.github.v3.raw" \
    #           -L https://api.github.com/repos/pablo-buenos-aires/workflows/contents/.github/workflows/backend/ecs/task-definition.json \
    #           -o task-definition.json
    #     echo "Task definition downloaded successfully"
    #     ls -la task-definition.json
    #     echo "--- Content preview:"  
    #     head -n 13 task-definition.json

    # Configure AWS credentials (OIDC)
    - uses: pablo-buenos-aires/workflow-actions/aws-oidc-creds@main
      with:
        role-to-assume: arn:aws:iam::836940249137:role/gitHubActionsDeployRole
        aws-region: sa-east-1
  
    # - name: Configure AWS credentials (OIDC)
    #   uses: aws-actions/configure-aws-credentials@v4
    #   with:
    #     role-to-assume: arn:aws:iam::836940249137:role/gitHubActionsDeployRole
    #     aws-region: sa-east-1

    - uses: pablo-buenos-aires/workflow-actions/ecr-build-push@main
      with:
          ecr-repo: ${{ env.ECR_REPO }}
          image-tag: ${{ env.IMAGE_TAG }}
          app-port: ${{ env.APP_PORT }}

    # ----------------------- old build and push method -----------------------
    # - name: Login to Amazon ECR/ Сохраняет результат  под id login-ecr
    #   id: login-ecr
    #   uses: aws-actions/amazon-ecr-login@v1
 
    # - name: Build, tag, and push image to  Amazon ECR. 
    #   run: |
    #     docker build --build-arg APP_PORT=$APP_PORT -t $ECR_REPO:$IMAGE_TAG .
    #     docker tag $ECR_REPO:$IMAGE_TAG $ECR_REPO:latest 
    #     docker push $ECR_REPO:$IMAGE_TAG
    #     docker push $ECR_REPO:latest

  
    - uses: pablo-buenos-aires/workflow-actions/ecs-deploy@main
      with:
        task-definition: ${{ env.TASK_DEFINITION }}
        container-name: ${{ env.CONTAINER_NAME }}
        new-image: ${{ env.ECR_REPO }}:${{ env.IMAGE_TAG }}
        ecs-cluster: ${{ env.ECS_CLUSTER }}
        ecs-service: ${{ env.ECS_SERVICE }}
   