name: Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:

    env:
        ECR_REPO: ${{ vars.ECR_REPO }}  
        IMAGE_TAG: v${{ github.run_number }}
        APP_PORT: ${{ vars.APP_PORT }}

        TASK_DEFINITION: .github/workflows/ecs/task-definition.json
        CONTAINER_NAME: backend-container             # = var.container_name
        ECS_CLUSTER: backend-cluster                  # = var.ecs_cluster_name
        ECS_SERVICE: ecs-service                      # = var.ecs_service_name

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR/ Сохраняет результат  под id login-ecr
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
 
    - name: Build, tag, and push image to  Amazon ECR. 
      run: |
        docker build --build-arg APP_PORT=$APP_PORT -t $ECR_REPO:$IMAGE_TAG .
        docker tag $ECR_REPO:$IMAGE_TAG $ECR_REPO:latest 
        docker push $ECR_REPO:$IMAGE_TAG
        docker push $ECR_REPO:latest

    - name: Output image details
      run: |
        echo "--- APP_PORT $AP P_PORT"
        echo "--- Image pushed to ECR"
        echo "--- Repository: $ECR_REPO"
        echo "--- Image Tag: $IMAGE_TAG"

    - name: Show task definition before render
      run: |
        echo "--- Using task definition: $TASK_DEFINITION"
        echo "--- Target container: $CONTAINER_NAME"
        echo "--- Target ECS service: $ECS_SERVICE"
        echo "--- Target ECS cluster: $ECS_CLUSTER"
        cat $TASK_DEFINITION

    - name: Render task definition with new image
      id: render-td
      uses: aws-actions/amazon-ecs-render-task-definition@v1
      with:
        task-definition: ${{ env.TASK_DEFINITION }}
        container-name: ${{ env.CONTAINER_NAME }}
        image: ${{ env.ECR_REPO }}:${{ env.IMAGE_TAG }}

    - name: Show rendered task definition
      run: |
        echo "---  Rendered task definition path: ${{ steps.render-td.outputs.task-definition }}"
        cat ${{ steps.render-td.outputs.task-definition }}

    - name: Deploy  to ECS
      uses: aws-actions/amazon-ecs-deploy-task-definition@v1
      with:
        task-definition: ${{ steps.render-td.outputs.task-definition }}
        service: ${{ env.ECS_SERVICE }}
        cluster: ${{ env.ECS_CLUSTER }}
        wait-for-service-stability: true