name: Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:

    env:
        ECR_REPO: ${{ vars.ECR_REPO }}  
        IMAGE_TAG: v${{ github.run_number }}
        APP_PORT: ${{ vars.APP_PORT }}

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR/ Сохраняет результат под id login-ecr
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
 
    - name: Build, tag, and push image to  Amazon ECR. 
      run: |
        docker build --build-arg APP_PORT=$APP_PORT -t $ECR_REPO:$IMAGE_TAG .
        docker tag $ECR_REPO:$IMAGE_TAG $ECR_REPO:latest 
        docker push $ECR_REPO:$IMAGE_TAG
        docker push $ECR_REPO:latest

    - name: Output image details
      run: |
        echo "--- APP_PORT $APP_PORT"
        echo "--- Image pushed to ECR"
        echo "--- Repository: $ECR_REPO"
        echo "--- Image Tag: $IMAGE_TAG"